/* Layout.css */


.nav-link {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding:0.5rem;
    display: inline-block;
    transition: color 0.3s ease;
    width: 100%;
}

/* Bloc semi-transparent */
.nav-link::before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 46, 136, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.nav-link:hover::before {
    opacity: 1;
}

.nav-link.active{
    background-color: rgba(21, 46, 136, 0.4);
    border-radius: 10px;
}